<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Data Source=AA7\SQL22;Initial Catalog=Linq2SqlTest;User ID=sa;Password=XXXX"/>
	</appSettings>
</configuration>